$background-color-card:rgb(255, 255, 255);
$spacing: 20px;

.main-content h3 {
  text-align: center;
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing;
  padding: $spacing;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.team-member {
  background: $background-color-card;
  padding: $spacing;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .info {
    margin-top: $spacing / 2;
  }
}
